- new_ssns = 1
/ - charge = Setting.last.ssn_charge
- wallet_balance = current_user.wallet_balance

.row.row-holder.align-items-center.brand-border-bottom-l-s
  .col-sm-12
    %h2.main-title.title-brand Request SSN / CPN Validation
    %span.subtitle Platform to boost your credit scores.

.row.row-holder
  .col-sm-4
    #form-ssn
      %span.subtitle.d-block.p-t-20.p-b-55 Enter details below and proceed to validate
      = render partial: 'users/form'

:javascript
  var new_ssns = #{new_ssns};
  var wallet_balance = #{wallet_balance}

