.modal#new_user_application_modal{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'filter-modal-label', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5.modal-title#confirm-deposit-modal-label.title-sub-brand Add New Broker / Vendor
      .modal-body.m-b-15
        %span.warn-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        = render 'dashboard/form'
