%html
  %head
    %meta{'content'=>'text/html; charset=UTF-8', 'http-equiv'=>'Content-Type'}
  %body
    %p= "Hi #{@user.first_name.capitalize},"
    %p
      Your account has been successfully created. We'll take a look and, if approved, qualify you to see our AU inventory. 
    %p
      Thank you.
    %p
      Regards,
      %br
      Customer Service Team
