= ff.input :ssnorcpn, label: 'Enter SSN / CPN number', maxlength: 9, input_html: { type: 'text', onKeyPress: "return isNumber(event);"}
= ff.hidden_field :status, value: 'requested'
= ff.link_to_remove 'Remove'