.col-sm-12.user-wrapper.change-password-wrapper
  .row
    .col-sm-12
      %h2.change-password Change Password.
      - if current_user.sign_in_count == 1
        %p.welcome To continue, please change your password and login again.
      - else
        %p.welcome You can change your password here. Please ensure that both fields are the same.
      = simple_form_for @user, url: update_password_user_path(@user), html: { method: :patch, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
        = f.input :password, autocomplete: "off", required: true, label: false, placeholder: 'Password'
        = f.input :password_confirmation, required: true, label: false, placeholder: 'Password Confirmation'
        = f.button :submit, "Update Password", class: 'btn btn-primary btn-lg btn-block'