- if current_user.au?
  $('#user-show-info').html("#{escape_javascript(render partial: 'user_info_modal', locals: { user: @user })}");
  $("#user-info-modal_#{@user.id}").modal('show');
- else
  $('#user-show-info').html("#{escape_javascript(render partial: 'show')}");