- if @purchase
  $('*[id^="proceedModal"]').modal('hide');
  $('#confirm-purchase-modal').modal('show');
- else
  $('*[id^="proceedModal"]').modal('show');
  $('#new-purchase-form').html("#{escape_javascript(render 'form_new')}");