.modal.fade{'id'=>"index_errors", 'aria-hidden'=>'true', 'aria-labelledby'=>'proceedModalLabel', 'role'=>'dialog', 'tabindex'=>'-1'}
  .modal-dialog{'role'=>'document'}
    .modal-content.show-tl
      .modal-header
        %button.close{'data-dismiss'=>'modal'}
          %span.span-close &times;
        %h4.modal-title.title Alert
      .modal-body
        %p.warning.alert-warning.error-sub-title.fade.in{ role: 'alert' }
