.modal.fade.withdrawal-funds-modal#withdraw-modal
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5.modal-title#withdrawal-funds-modal-label.title-sub-brand Withdraw Your Funds
      #modal-body
        = render 'form'