- if @withdraw.errors.any?
  $('#modal-body').html("#{escape_javascript(render 'form')}");
- else
  $('#withdraw-modal').modal('hide');
  $('#btn-click-modal').html("#{escape_javascript(render 'withdraw_confirm')}");
  $('#confirm-withdraw-modal').modal('show');