.modal.confirm-modal.change-password-modal#change-password-modal{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'filter-modal-label', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body.d-flex.flex-column.justify-content-center
        %h3.title.text-center Are you sure you want to change your password?

        .d-flex.justify-content-center
          %button.btn.btn-grey-primary.btn-xs{type: 'submit', for: 'edit_user_1'} Yes
          %a.btn.btn-light-primary.btn-xs{'data-dismiss': 'modal', 'aria-label': 'Cancel'} Cancel