.modal.modal-lg.confirm-modal#confirm-deposit-form-modal{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'filter-modal-label', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header.d-flex.justify-content-center
        %h5.modal-title#filter-modal-label.title-primary Thanks For Your Submission
      .modal-body.d-flex.flex-column.align-items-center.justify-content-center
        %i.fa.fa-check-circle
        %span.warn-text You'll receive an email as soon as we've sent out your check
      .modal-footer.d-flex.justify-content-center
        %a.btn.btn-grey-primary.btn-md{'href': '/deposits'} Review Transaction
        %a.btn.btn-light-primary.btn-md{'data-dismiss': 'modal', 'aria-label': 'Close'} Close

:javascript
  $('#new_deposit_modal').on('shown.bs.modal', function () {
    $('body').addClass('modal-open');
  });