.modal.fade#refund-modal{ 'aria-hidden'=>'true', 'aria-labelledby'=>'proceedModalLabel', 'role'=>'dialo    g', 'tabindex'=>'-1' }
  .modal-dialog
    .modal-content#modal-content
      = render 'edit_form'
