@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css";
@import "select2";
@import "select2-bootstrap";
@import 'bootstrap-datepicker3';
@import 'dataTables/jquery.dataTables';
@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';

@import "variables";
@import "mixins";
@import "ui";

@import "fonts";
@import "forms";
@import "typo";
@import "buttons";
@import "common";

@import "signupin";
@import "dashboard";
@import "basic.min";
@import "dropzone.min";
@import "override";
@import "layout";
@import "tradeline";
@import "deposit";
@import "users";

// @font-face {
//   font-family: 'CircularStd-Bold';
//   src: asset_url('CircularStd-Bold.otf');
// }

// @font-face {
//   font-family: 'CircularStd-BoldItalic';
//   src: asset_url('CircularStd-BoldItalic.otf');
// }

// @font-face {
//   font-family: 'CircularStd-Book';
//   src: asset_url('CircularStd-Book.otf');
// }

// @font-face {
//   font-family: 'CircularStd-BookItalic';
//   src: asset_url('CircularStd-BookItalic.otf');
// }

// @font-face {
//   font-family: 'CircularStd';
//   src: asset_url('CircularStd-Black.otf');
// }
// @font-face {
//   font-family: 'CircularStd-Medium';
//   src: asset_url('CircularStd-Medium.otf');
// }

// @font-face {
//   font-family: 'CircularStd-MediumItalic';
//   src: asset_url('CircularStd-MediumItalic.otf');
// }

.display-user-details-body{
  margin-top: 5.2em;
}

.no-border {
  border: none !important;
}

.no-border:hover {
  background: white !important;
}

.btn.btn-default.no-border.dropdown-toggle.bar-icon-wrraper{
    position: relative;
    border-radius: 0;
    line-height: normal;
    padding: 0px 9px;
}

span.glyphicon.glyphicon-menu-hamburger {
  color: $theme-color;
  top: 0;
  position: static;
}

span.glyphicon.glyphicon-menu-hamburger:before{
    content: "";
    position: absolute;
    left: 0;
    top: 1.5px;
    width: 18px;
    height: 3px;
    background: #3c1fa8;
    box-shadow: 0 6px 0 0 #3c1fa8, 0 12px 0 0 #3c1fa8;
    border-radius: 13px;
}

.alert-danger.error-sub-title {
  font-size: 18px;
}
.user_ssns_ssnorcpn:last-child {
  margin-bottom: 0px !important;
}

.navbar-text {
  color: $theme-color !important;
  font-size: 18px;
  margin-left: 40px;
  line-height: 8px;
}

#term {
  width: 100%;
  height: 80.38px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 35px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.ss-all-application-wrapper{
  .panel-heading.col-md-12{
    #panel-search {
      width: 100%
    }
    .text-right.col-md-6{
      flex: 1;
      #term{
        text-align:right;
      }
    }
  }
}

.all-users-js-ss-wrapper #search-box,
.ss-all-application-wrapper #search-box{
  width: 100%;

  #term{
    height: auto;
    padding: 0;
    font-size: 18px;
    color: #727272;
    @media screen and (max-width: 767px){
      font-size: 14px;
    }
    &:focus{
      outline: none;
    }
  }
}

.search-box-remove {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 30px;
  line-height: 75px;
}

.search-users-text {
  margin-bottom: 0;
  padding-bottom: 0px;
  cursor: pointer;
}

input#term[type='text']:focus {
  outline-color: $theme-color;
  outline-width: 2px;
}

.withdraw {
  padding: 0.2em !important; 
  font-size: 12px !important;
  font-weight: normal !important;
}

.validation-error {
  color: #a94442;
}

.au-ss-bottom-row {
//  height: 430px;
}

.bottom-panel-height {
  height: 100%;
}

.bottom-panel-display-table {
  position: relative
}

.no-data-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  div {
    padding: 20px 0;
  }
}

.no-data-div p.dashb{
  color: #959595;
  font-size: 16px;
  width: 77%;
  margin: 0 auto;
}

.no-data-div img + p.dashb{
  font-size: 18px;
  color: #202020;
  margin-bottom: 7px;
  margin-top: 20px;
}

.datepicker table tr td.today {
  color: #FFF;
  background-color: $theme-color;
  border-color: $theme-color;
}

.add-money {
  font-size: 14px !important;
}

.glyphicon-warning-sign {
  color: red;
}



.select2-selection.select2-selection--single {
  height: 41px !important;
}
.select2-selection.select2-selection--multiple, .select2-selection.select2-selection--single {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  transtion: none !important;
  font-size: 18px !important;
  padding: 4.3px 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #979797 !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
  padding-right: 25px !important;
}

.staff-ssn-modal-wrapper .row .fields .col-md-12 .col-md-6:nth-child(1) {
  padding-right: 0px;
  padding-bottom: 0px;
  .form-group {
    .form-control {
      border-bottom: 0px !important;
    }
  }
}

.staff-ssn-modal-wrapper .row .fields .col-md-12 .col-md-6:nth-child(2) {
  padding-left: 0px;
  padding-bottom: 0px;
  .select2.select2-container.select2-container--bootstrap {
    padding-top: 13px;
    .select2-selection.select2-selection--single {
      border-bottom: 0px !important;
    }
  }
}

.js-ssn-table-wrapper {
  tbody {
    tr {
      td {
        padding-left: 25px !important;
      }
    }
  }
}

#my-awesome-dropzone {
  .row .col-md-12.display:nth-child(1) {
    padding-bottom: 0px;
    .col-md-6:nth-child(1) {
      padding-bottom: 0px;
    }
    .col-md-6:nth-child(2) {
      padding-bottom: 0px;
      .select2.select2-container.select2-container--bootstrap {
        .select2-selection.select2-selection--single{
          border-bottom: 0px !important;
        }
      }
    }
  }
  #purchase-user-info {
    .row {
      .col-md-12:nth-child(1) {
        .col-md-6 {
          padding-bottom: 15px;
          padding-top: 15px;
        }
      }
    }
  }
}

.max-width-image {
  max-width: 225px;
}