@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css";
@import "select2";
@import "select2-bootstrap";
@import 'bootstrap-datepicker3';
@import 'dataTables/jquery.dataTables';
@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';
@import "font-awesome";
@import 'parsley';

@import "variables";
@import "mixins";
@import "ui";

@import "fonts";
@import "forms";
@import "select2-custom";
@import "dropzone-custom";
@import "typo";
@import "buttons";
@import "common";
@import "navigation";
@import "content";
@import "modals";
@import "tables";

@import "signupin";
@import "dashboard";
@import "dropzone.min";
@import "override";
@import "layout";
@import "tradeline";
@import "deposit";
@import "users";

.no-data-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  text-align: center;
  div {
    padding: 20px 0;
  }
}

.no-data-div p.dashb{
  color: #959595;
  font-size: 16px;
  width: 77%;
  margin: 0 auto;
}

.no-data-div img + p.dashb{
  font-size: 18px;
  color: #202020;
  margin-bottom: 7px;
  margin-top: 20px;
}

.datepicker table tr td.today {
  color: #FFF;
  background-color: $theme-color;
  border-color: $theme-color;
}

.add-money {
  font-size: 14px !important;
}

.js-ssn-table-wrapper {
  tbody {
    tr {
      td {
        padding-left: 25px !important;
      }
    }
  }
}

.login-form-wrapper {

  .alert {
    padding: 0;
    color: #a94442;
  }
}

.data-value {
  color: #9d9d9d;
}
