.btn {
    margin-right: 5px;
    padding: 0;
    color: #fff !important;
    font-family: $default-font-family;
    font-size: em(16);
    font-weight: 400;
    line-height: 1.56;
    transition: all .15s ease;
    cursor: pointer;
    z-index: 99;
    text-transform: none;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
    }

    input,
    button {
        width: 100%;
        margin: 0;
        border: 0;
        background: none;

        &:hover,
        &:focus,
        &:active {
            background: none !important;
            color: #fff !important;
            border: 0;
            outline: 0 !important;
            box-shadow: none;
        }
    }
}

.btn-light-primary,
.btn-light-tertiary,
.btn-secondary {
    
    &:hover,
    &:focus,
    &:active {
        color: #fff !important;
    }
}

.btn-grey-primary,
.btn-cyan {

    &:hover,
    &:focus,
    &:active {
        color: #fff !important;
    }
}

.btn-link {
    min-width: auto;
    padding: 0;
    text-transform: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    transition: all .15s ease;
    color: $default-text-color;
    font-size: em(16);

    &:focus,
    &:active,
    &:hover {
        outline: 0;
    }

    &:hover {
        opacity: .75;
    }
}

.btn-cyan {
    background: $primary-color-light;
    border: 1px solid $primary-color-light;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
    }

    input,
    button {
        color: #fff;
        text-transform: none;
        font-weight: 400;
    }
}

.btn-grey-primary {
    background: $grey-primary;
    border: 1px solid $grey-primary;
    min-width: 110px;
    padding: 9px 0;
}

.btn-light-primary {
    background: $light-primary;
    border: 1px solid $light-primary;
    color: #fff !important;
    
    input,
    button {
        color: #fff;
        text-transform: none;
        font-weight: 400;
    }
}

.btn-light-tertiary {
    background: $light-tertiary;
    border: 1px solid $light-tertiary;
    color: #aeaeae !important;
    
    input,
    button {
        color: #fff;
        text-transform: none;
        font-weight: 400;
    }
}

.btn-secondary {
    background: #fff;
    border: 1px solid #fff;
    color: $default-text-color !important;

    &:hover,
    &:focus,
    &:active {
        background: #fff;
        color: $default-text-color !important;
    }
    
    input,
    button {
        color: $default-text-color;
        text-transform: none;
        font-weight: 400;
    }
}

.btn-drop-area {
    min-width: 347px;
    padding: 15px 0;
    background: #f3f3f3;
    color: $grey-secondary;
    font-size: em(15);
    border-radius: 2px;
}

.btn-xxl {
    @include button-size(14px, 0, em(16), 1, 2px);
    min-width: 100%;
}

.btn-xl {
    @include button-size(16px, 0, em(15), 1, 2px);
    min-width: 200px;
    font-size: em(15);

    input,
    button {
        padding: 12px 0;
    }
}

.btn-xlg {
    @include button-size(16px, 0, em(15), 1, 2px);
    min-width: 240px;
}

.btn-lg {
    @include button-size(9px, 0, em(16), 1, 2px);
    min-width: 220px;
}

.btn-md {
    @include button-size(15px, 0, em(16), 1, 2px);
    min-width: 193px;
}

.btn-sm {
    @include button-size(9px, 0, em(16), 1, 2px);
    min-width: 193px;
}

.btn-xs {
    @include button-size(14px, 0, em(16), 1, 2px);
    min-width: 113px;
}

.btn-xm {
    @include button-size(12px 0, 11px 0, em(16), 1, 2px);
    min-width: 152px;

    input,
    button {
        padding: 9px 0;
    }
}

.btn-xxm {
    @include button-size(6px 0, 6px 0, em(14, 15), 1, 2px);
    min-width: 114px;

    input,
    button {
        padding: 9px 0;
    }
}

.btn-update-profile {
    display: none;
}
