.header-holder {
    padding-bottom: 30px;
    margin-bottom: 60px;
    border-bottom: 1px solid #c6c6c6;
}

.login-bg-wrapper{
  background: url("logo.png") top 25px left 20px / 218px 31px no-repeat, url("login-bg-img.png") top center / cover;

   @media screen and (min-width:768px) and  (max-width: 991px) {
       width: 100%;
   }

   @media screen and (max-width: 767px) {
       display: none;
  }
}

.login {

    .btn-link {
        padding-left: 3px;
        font-weight: 700;
    }
}

.top-bar {
    padding: 18px 40px 17px;
    background: $grey-secondary;

    .user-holder {
        
        span {
            margin-right: 50px;
            color: #fff;
        }
    }

    .user-logo {
        width: 45px;
        height: 45px;
        margin-right: 15px;
        border-radius: 50%;
        background: url('avatar.png') no-repeat;
        overflow: hidden;
    }
}

.fa-power-off {
    position: relative;
    color: #fff;
    font-size: 24px;
    cursor: pointer;

    a {
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 0;
    }
}

.display-body {
    background: #fcfcfc;
    width: auto;
    margin-left: 280px;
    min-height: 100%;

    .main-title {
        weight: 700;
    }

    .subtitle {
        color: $grey-secondary;
    }

    .wallet-amount {
        margin-right: 20px;
        color: $default-text-color;
        font-size: em(16);
        font-weight: 300;

        .icon {
            margin-right: 10px;
        }

        strong {
            padding-left: 5px;
        }
    }
}

.btn-reset-filters {
    margin-right: 20px;
}

.btn-filters {

}
