.content-holder {
    
    .js-editable-form {

        .col-holder {
            min-width: 477px;
            min-height: 422px;
            max-height: 422px;
            margin-right: 30px;

            @media (max-width: 1399px) {
                min-width: 45%;
            }
        }

        .col-holder-left {

            .control-label {
                width: 30%;
            }

            .form-control {
                width: 252px;
            }
        }

        .col-holder-right {

            .control-label {
                width: 17%;
            }
            
            .form-control {
                width: 292px;
            }
        }

        .form-group {
            display: flex;
            align-items: start;
            justify-content: space-between;

            &:after,
            &:before {
                display: none;
            }
        }

        .control-label {
            text-align: right;
        }

        .form-control {
            padding: 0 15px 20px;
            background: transparent;
            border: 0;
        }

        &.editable {

            .form-group {
                position: relative;

                &:after {
                    bottom: 20px;
                    right: 0;
                }

                &.field-focused {

                    &:after {
                        background: url('pencil-hover@2x.png') center / cover no-repeat;
                    }
                }
            }

            .profile-image-wrapper {
                
                &:after {
                    top: 10px;
                    right: 10px;
                }

                &.field-focused {

                    &:after {
                        background: url('pencil-hover@2x.png') center / cover no-repeat;
                    }
                }
            }

            .profile-image-wrapper,
            .form-group {

                @include pseudo-el(after, 16px, 16px) {
                    background: url('pencil@2x.png') center / cover no-repeat;
                }
            }

            .form-control {
                border-bottom: 1px solid $light-secondary;

                &:focus,
                &:active {
                    border-color: $primary-color-light;
                }
            }
        }
    }
}

.profile-image-wrapper {
    position: absolute;
    left: 55px;
    top: 35px;

    .profile-image {
        position: relative;
        width: 200px;
        height: 200px;

        img {
            width: 100%;
        }
    }

    #user_profile {
        position: absolute;
        top: 0;
        opacity: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

#form-ssn {
    
    .fields {
        position: relative;
    }

    .remove_nested_fields,
    .add_nested_fields {
        color: $grey-secondary;
        font-size: $default-font-size;
        font-weight: 400;
    }

    .remove_nested_fields {
        position: absolute;
        top: 60%;
        transform: translateY(-60%);
        right: 10px;
    }

    .add_nested_fields {
        margin: 0 0 60px;
    }

    .btn {
        margin-bottom: 20px;
    }
}

.dataTables_filter {

    input[type=search] {
        position: absolute;
        top: -76px;
        left: 47px;
        background: transparent;
        border: 0;
        width: 94%;
    }
}

#new_deposit_modal {

    .deposit_banking_information_id {
      margin-bottom: 40px;
    }
}
