.dropzone {
    min-height: auto !important;
    border: 0 !important;
    background: initial !important;
    padding: initial !important;

    .dz-message {
        width: 100%;
        height: 246px;
        border: 1px solid $light-secondary;
        background: #fff !important;
        border-radius: 2px;
        margin: 0 0 30px !important;

        .title-holder {
            margin-bottom: 20px;
        }

        p {
            margin: 15px;
            padding: 0 !important;
        }
    }

    &.dropzone-sm {

        .dz-message {
            height: 92px;
            border: 2px dashed $light-secondary;
            margin: 0 !important;

            .title-holder {
                margin-bottom: 0;
                color: #949494;
                font-size: em(14);
            }

            .icon {
                margin-bottom: 5px;
            }
        }
    }
}