$form-control-height-lg: 50px;
$form-control-height-md: 46px;
$form-control-height-sm: 42px;

$rounded-sm: 2px;

form {
    margin: 0;
}

input:focus,
.form-control:focus {
    outline: none;
}

textarea {
    resize: none;
}

input, 
textarea {
    text-overflow: ellipsis;
}

textarea {

    &.form-control {
        padding-top: 8px;
        height: 46px;
    }
}

input[type=checkbox] {
    width: 25px;
    height: 20px;
}

.form-control-holder {
    position: relative;

    .fa {
        @extend %absCenterY;
        right: 10px;
    }

    .fa-search {
        font-size: em(20);
        color: #344c67;
    }

    .form-control {
        margin-bottom: 0;
    }
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    height: $form-control-height-md;
    padding: 0 15px;
    color: $default-text-color;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    border: 1px solid $light-secondary;
    box-shadow: none;
    border-radius: $rounded-sm;
    line-height: 1.92;
    margin-bottom: 3.2%;

    &.rounded {
        border-radius: $rounded-sm;
    }

    &:focus, 
    &:active {
        box-shadow: none;
        outline: 0;
    }

    &.select-picker {
        border: 0
    }

    &.borderless {
        appearance: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #a6a6a6;
        border-radius: 0;
    }
}

.form-control-sm {
    height: $form-control-height-sm;
}

.form-control-lg {
    min-width: 285px;
}

.form-control-height-lg {
    height: $form-control-height-lg;
}

.control-label {
    margin-bottom: 10px !important;
    color: $default-text-color;
    font-size: em(16);
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: -.03em;
}

.step-2 {
    display: none;
}

.has-error {

    .form-control {
        box-shadow: none;
    }
}
