html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-width: 1199px;
  color: $default-text-color;
  font: $default-font-weight normal $default-font-size/$default-line-height $default-font-family;
  background: #fcfcfc;

  @media screen and (max-width: 1199px) {
    overflow-x: auto;
  }

  @media screen and (min-width:992px) {
    display: flex;
    flex-direction: column;
  }
}

.js-menu-opened {

  .header {
    left: 0;
  }

  .display-body {
    margin-left: 280px;
  }

  body {
      
    @media (max-width: 1199px) {
      height: 100%;
      overflow: hidden;
    }
  }

  .open-btn {
      
    @media (max-width: 1199px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 35px;
      z-index: 999;
    }

    &:before {

      @media (max-width: 1199px) {
          content: '\f00d';
      }
    }
  }
}

.open-btn {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: em(24);
  color: #fff;
  cursor: pointer;
}

.panel.panel-default .panel-body{
    padding: 0;
}

.row {

  &:before,
  &:after {
    display: block;
  }
}

.row-holder {
  padding: 30px 40px;
}

label.control-label abbr{
  display: none;
}
label.control-label + input.form-control{
  padding-top: 0;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 48%;
}

.inner-gap-sm {
  padding: 20px;
}

.inner-gap-md {
  padding: 30px;
}

