html{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  color: $default-text-color;
  font: $default-font-weight normal $default-font-size/$default-line-height $default-font-family;
  background: #fcfcfc;

  @media screen and (min-width:992px) {
    display: flex;
    flex-direction: column;
  }
}

.panel.panel-default .panel-body{
    padding: 0;
}

.alert-wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,0.9);
}

.modal-open .modal.fade.in{
  padding: 0!important;
  justify-content: center;
  align-items: center;
  display :flex!important;
}


.modal-open .modal.fade.in .modal-dialog{
  max-width: 631px;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: #fff;
  @media screen and (min-width: 768px){
    height: auto;
  }
  @media screen and (min-height: 900px){
    max-height: 820px;   
  }
}

.modal-open .modal.fade.in.js-user-detail-wrapper .modal-dialog,
.modal.fade.all-js-modal-wrapper.in .modal-dialog{
  max-width: 476px;
}

.modal-open .modal.fade.in .modal-dialog .modal-content{
  border: none;
  box-shadow: none;
  padding: 44px 50px 50px;
  border-radius: 8px;
  @media screen and (max-width: 767px){
      padding: 20px 25px 25px;
  }
}

.user-info-modal-wrapper.js-user-detail-wrapper{
  padding-left: 0!important;
}

.modal-open .modal.fade.in.js-user-detail-wrapper .modal-dialog .modal-content,
.modal.fade.all-js-modal-wrapper.in .modal-dialog .modal-content{
  padding: 0 0 50px;
  @media screen and (max-width: 767px){  
    padding: 0 0 25px;
  }
}

.modal.fade.all-js-modal-wrapper.in .modal-dialog .modal-content .js-user-profile-wrapper{
  position: relative;
  input[type="file"]{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
  }
}

.modal-open .modal.fade.in .modal-dialog .modal-content .modal-header{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
} 

.modal-open .modal.fade.in .modal-dialog .modal-content #modal-body .modal-body{
  padding: 0;
  margin-top: 10px;
}

.modal-backdrop.fade.in{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,0.9);
  opacity: 1;
}

.modal-open .modal.fade.in .modal-dialog .modal-content .modal-header .modal-header-title,
.modal-open .modal.fade.in .modal-dialog .modal-content .modal-header .title,
.modal-open .modal.fade.in .modal-dialog .modal-content .modal-header p.dashb{
  margin: 0;
  flex: 1;
}

.modal-open .modal.fade.in .modal-dialog .modal-content #modal-body .modal-body .col-md-12.display{
  height: auto;
  padding-top: 25px;
  clear: both;
  display: flex;
}



.modal-open .modal.fade.in .modal-dialog .modal-content .modal-header .close{
  margin-top: 0;
  float: right;
  font-size: inherit;
  font-weight: normal;
  line-height: normal;
  color: #b9b9b9;
  text-shadow: unset;
  opacity: 1;
  filter: alpha(opacity=100);
  line-height: 1;
  height: auto;
}

.modal-open .modal.fade.in .modal-dialog .modal-content .modal-header .close span{
  font-size: 30px;
  display: block;
  height: auto;
  line-height: 0.5;
}

.modal.fade.in.js-user-detail-wrapper .modal-dialog .modal-content .modal-header.user-info img,
.modal.fade.all-js-modal-wrapper.in .modal-dialog .modal-content .js-user-profile-wrapper img{
  width: 100%;
  max-width: 476px;
}

.modal.fade.in.js-user-detail-wrapper .modal-dialog .modal-content .modal-body{
  .modal-header-title{
    margin: 0 0 10px;
    b.title{
      font-size: 22px;
      font-weight: 900;
      text-align: left;
      color: #3c1fa8;
      @media screen and (max-width: 767px){
        font-size: 18px;
      }
    }
  }

  .dashb-small-date {
  font-size: 18px!important;
  text-align: left;
        color: #727272;
        margin-bottom: 10px!important;
  display: block;
  @media screen and (max-width: 767px){
      font-size: 14px !important;
  }
}
}

#banking_info_modal.modal.fade.in .modal-dialog .modal-content #modal-body .modal-footer{
  margin: 30px 0 0;
}

.modal-open .modal.fade.in .modal-dialog .modal-content #modal-body .modal-footer .btn + .btn{
  margin-top: 10px;
}

.modal-body.ssn{
  padding: 0;
  margin-top: 10px;
}

.modal-body.ssn .form-group.string.optional.user_ssns_ssnorcpn,
#new_user .modal-body, #new_user .modal-footer,
#user_modal_body .modal-body, #user_modal_body .modal-footer,
#user-show-info .modal-body, #user-show-info .modal-footer
{
  margin: 20px 0 0;
}

.modal-body.ssn .form-group.string.optional.user_ssns_ssnorcpn .form-control{
  margin: 0!important;
}

.modal-body.purchase-wrapper, #new_user .modal-body, #new_user .modal-footer,
#user_modal_body .modal-body, #user_modal_body .modal-footer,
#user-show-info .modal-body, #user-show-info .modal-footer,
.modal.fade.all-js-modal-wrapper.in .modal-dialog .modal-content .modal-body{
  padding: 0;
}

.modal-body.purchase-wrapper .container-fluid.no-pad-left.no-pad-right{
  margin-top: 42px;
  @media screen and (max-width: 991px){
      margin-top: 15px;
  }
  @media screen and (max-width: 767px){
     display: flex;
     flex-wrap: wrap;
  }

}

 #user-show-info .js-user-detail-wrapper .modal-dialog .modal-content .modal-body,
 .js-user-detail-wrapper .modal-dialog .modal-content .modal-body,
 .modal.fade.all-js-modal-wrapper.in .modal-dialog .modal-content .modal-body .js-user-profile-form-field-wrapper{
    padding: 34px 50px 0;
    @media screen and (max-width: 767px){
      padding: 20px 25px 0;
    }
  }

.all-js-modal-wrapper .modal-body .js-user-profile-form-field-wrapper{
  .btn.btn-primary.btn-lg.btn-block{
    margin-top: 36px;
    @media screen and (max-width: 767px){
      margin-top: 15px;
    }
  }
}

  #user-show-info .js-user-detail-wrapper .modal-dialog .modal-content .modal-footer,
  .js-user-detail-wrapper .modal-dialog .modal-content .modal-footer,
  .modal.fade.all-js-modal-wrapper.in .modal-dialog .modal-content .modal-footer{
    padding: 0 50px 0;
    margin: 0;
    @media screen and (max-width: 767px){
       padding: 0 25px 0;
    }
  }

#user-show-info .js-user-detail-wrapper .modal-dialog .modal-content .modal-footer{
  padding-top: 36px;
  @media screen and (max-width: 767px){
    padding-top: 15px;
  }
}

.modal-body.purchase-wrapper .col-sm-4{
  width: 33.33333333%;
  padding:0;
  @media screen and (max-width: 767px){
    width: 50%;
  }
}

.modal-body.purchase-wrapper .each-title{
  margin: 0;
}

.modal-body.purchase-wrapper .col-sm-4.no-pad-right{
  border: none;
  box-shadow: none;
@media screen and (max-width: 767px){
  margin-top: 15px;
}
}

.modal-body.purchase-wrapper div#new-purchase-form{
    margin-top: 36px;
 @media screen and (max-width: 767px){
    margin-top: 20px;
 }
  }

.modal-body.purchase-wrapper #drag-area > .col-md-12{
  margin-bottom: 0px!important;
  margin-top: 0;
  @media screen and (max-width: 767px){
      margin-top: 0;
  }
}

.modal-body.purchase-wrapper div#new-purchase-form input.btn,
#user_modal_body .modal-footer .btn-block + .btn-block
{
  margin-top: 10px;
}

#withdraw-modal #modal-body .modal-body{
   margin: 30px 0;
}

#refund-modal .modal-footer{
    margin: 25px 0 0;
    @media screen and (max-width: 767px){
      margin: 15px 0 0;
    }
}

.row.payment-detail-wrapper{
  border: solid 1px #3c1fa8;
  margin-top: 21px;
  padding: 25px 15px;
  border-radius: 8px;
 
  @media screen and (max-width:991px) {
    margin-top: 10px;
    padding: 15px 10px;
  }
  .col-sm-6 {
    @media screen and (max-width: 767px) {
      float: left;
      width: 50%;
    }
  }
  .col-sm-6:first-child{
    border-right: solid 1px #3c1fa8;
    margin-right: 10px;
    width: calc(50% - 10px);
  }
  .form-group.decimal.optional.purchase_amount{
    margin: 0;
  }
  input.form-control[readonly][type="number"]{
    margin: 0 !important;
    border: none !important;
    padding: 0;
    font-size: 22px!important;
    font-weight: 900;
    color: #3c1fa8;
    @media screen and (max-width:991px) {
      font-size: 16px!important;
    }
  }
  .sub-title {
    font-size: 18px;
    color: #727272;
    margin-bottom: 3px;
    line-height: normal;
    @media screen and (max-width:991px) {
      font-size: 14px;
    } 
  }
  .modal-title.title {
    font-size: 22px;
    font-weight: 900;
    color: #3c1fa8;
    line-height: normal;
    @media screen and (max-width:991px) {
      font-size: 16px;
    }
  }
}

.modal-footer.payment-detail-modal-footer{
  padding-bottom: 0;
  margin-bottom: 0;
}

.row.payment-detail-footer-wrapper{
  .btn.btn-block{
    margin: 0 0 10px;
  }
  form .btn.btn-block{
    margin: 0;
  }
}

.alert-wrapper .alert{
  width: 50%;
  background-color: #fff!important;
  min-width: 300px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-sm-12.user-wrapper{
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
@media screen and (min-width:992px) {
  padding: 10px 30px 40px;    
}
}

.col-sm-12.user-wrapper .welcome{
  margin-bottom: 20px;
  padding-left: 0;
}

.col-sm-12.user-wrapper .simple_form.form-horizontal{
@media screen and (min-width:768px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
}

.form-horizontal .form-group-wrapper .form-group{
  @media screen and (min-width:768px) { 
  width: 48%;
}
}

.col-sm-12.user-wrapper .simple_form.form-horizontal .form-group:nth-last-child(2){
  width: 100%;
}

.col-sm-12.user-wrapper .simple_form.form-horizontal .form-group:nth-last-child(2) .col-sm-12.text-form{
  width: 48%;
}
.col-sm-12.user-wrapper .simple_form.form-horizontal input.btn-block[type="submit"]{
  @media screen and (min-width: 768px){
    max-width: 562px;
    margin: auto;
  }
}

.col-sm-12.user-wrapper.change-password-wrapper > .row > .col-sm-12{
  text-align: center;
}

.col-sm-12.user-wrapper.change-password-wrapper .simple_form.form-horizontal{
  @media screen and (min-width: 768px){
    width: 48%;
    margin: auto;
}
}

.col-sm-12.user-wrapper.change-password-wrapper .simple_form.form-horizontal .col-sm-12.text-form,
.col-sm-12.user-wrapper.change-password-wrapper .simple_form.form-horizontal .form-group,
.col-sm-12.user-wrapper.change-password-wrapper .simple_form.form-horizontal .form-group:nth-last-child(2) .col-sm-12.text-form,
.col-sm-12.user-wrapper .simple_form.form-horizontal .profile-image-wrapper .form-group:nth-last-child(2) .col-sm-12.text-form{
  width: 100%;
}

.stc-panel {
  background-color: #FFFFFF;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13) !important;
}

.row {

  &:before,
  &:after {
    display: block;
  }
}

.row-holder {
  padding: 30px 40px;
}

label.control-label abbr{
  display: none;
}
label.control-label + input.form-control{
  padding-top: 0;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 48%;
}

.inner-gap-sm {
  padding: 20px;
}

.inner-gap-md {
  padding: 30px;
}

