.modal {

    .modal-header,
    .modal-body,
    .modal-footer {
        position: relative;
        padding: 0;
    }

    .modal-header {
        justify-content: flex-start;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid $primary-color-light;
    }
    
    .modal-dialog {
        min-width: 800px;
    }

    .modal-content {
        padding: 60px;
    }

    .modal-footer {

        .row-holder {
            padding: 0;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .close {
        color: $grey-primary;
        font-size: em(15);
        font-weight: 400;
    }

    .warn-text {
        display: block;
        margin-bottom: 50px;
        color: $grey-secondary;
    }

    &.modal-lg {
        width: auto;
        max-width: initial;

        .modal-dialog {
            min-width: 1200px;
        }
    }
}

.filters-modal {

    .form-control,
    .select2 {
        margin-bottom: 25px !important;
    }
}

.confirm-deposit-modal {

    .form-control {
        margin-bottom: 25px;
    }

    .select2 {
        margin-bottom: 60px !important;
    }
}

.confirm-modal {

    .title {
        margin-bottom: 65px;
        font-size: em(18);
        font-weight: 300;
    }
}

.withdrawal-funds-modal,
.purchase-modal {

    .modal-body {
        padding-bottom: 20px;
    }
}

.purchase-modal {

    .checkout-holder {
        
        .btn {
            margin: 0;
        }

        .item {
            margin-bottom: 15px;
            color: $brand-text-color;
            font-size: $default-font-size;
        }

        .row-top {
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #cacaca;
        }
    }

    .select2 {
        
        .select2-selection--single {
            background: transparent;
        }

        .select2-selection__arrow {
            background: transparent;
        }
    }
}

.confirm-modal {

    .modal-header {
        padding-bottom: 0;
        margin-bottom: 50px;
        border-bottom: 0;
    }

    .fa,
    .warn-text {
        margin-bottom: 50px;
    }

    .fa {
        color: $primary-color-light;
        font-size: em(130);
    }

    .warn-text {
        color: $grey-secondary;
        font-size: em(18);
        font-weight: 300;
        line-height: 2;

        strong {
            padding: 0 3px;
        }
    }
}

.withdraw-details-modal {

    .title {
        margin-bottom: 30px;
        font-size: $default-font-size;
    }

    .subtitle {
        margin-bottom: 40px;
        color: #9d9d9d;
        font-size: em(16);
    }
}

#new_banking_information_modal {

    .modal-dialog {
        align-items: center;
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        min-height: 100%;    

        .modal-header {
            padding-bottom: 20px;
            padding-left: 45px;

            .modal-header-title {
                margin-bottom: 0;
                margin-top: 26px;

                .title {
                    color: #3E24A1;
                }
            }

            .success-message  {
                height: 15px;
                font-size: 12px;
            }
        }

        #banking_information_success h3 {
            margin-top: 0;
        }
    
        .modal-body {
            padding: 0 45px;

            .form-control {
                padding: 6px 0;
            }

            .help-block {
                font-size: 12px;
                margin-top: -10px;
            }
        }

        .modal-footer {
            padding: 0 45px 0 45px;

            #banking-information-save-button {
                background-color: #3E24A1;
                font-size: 15px;
                font-weight: bold;
                margin-top: 5px;
            }

            .btn.cancel {
                border-color: #3E24A1;
                color: #3E24A1;
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 45px;
                margin-top: 10px;
            }
        }
    }
}

.withdraw-confirmation-modal .flex-column {
    margin: 20px 0;
}