$break-small: 767px;
$break-large: 991px;

.login.row{
  height: 100%;
  display: flex;
  margin: 0;
  max-width: -webkit-fill-available;
  margin: 0 auto;

  @media screen and (min-width: 992px){
    width: 100%;
  }
}
.col-md-6.col-sm-6.login-form-wrapper {
   display: flex;
   justify-content: center;

  @media screen and (min-width:768px) and  (max-width: $break-large) {
   width: 60%;
    position: absolute;
    background-color: #fff;
    margin: auto;
    opacity: 0.9;
    left: 0;
    right: 0;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 30px;
   }
   @media screen and (max-width: $break-small) {
       width: 100%;    
   }
 }
.col-md-offset-1.col-md-8.main.login-form-inner-wrapper {
      margin: 0;
      align-self: center;
 }

.hello, b.welcome {
  color: #3c1fa8;
  line-height: normal;
  font-size: 55px;
  font-weight: 900;
  font-family: CircularStd;

  @media screen and (max-width: $break-large) {
     font-size: 35px;
  }

  @media screen and (max-width: $break-small) {
      font-size: 28px;	      
  }
}
.welcome {
  font-size: 20px;
  color: #414141;
  margin-bottom: 45px;

  @media screen and (max-width: $break-large) {
       font-size: 16px;
       margin-bottom: 20px;
  }
}
.welcome + .alert{
    margin: -12px 0 -8px;
    color: red;
    padding: 0;
    border: none;
    position: relative;
    z-index: 100;
}
.forgot_div.row-eq-height{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @media screen and (max-width: $break-large) {
        margin-bottom: 22px; 
    }
}

.form-horizontal .form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,
.readonly.form-control{
  background-color: #fff;
}

input.form-control[readonly][type="number"] {
  -moz-appearance: textfield;
}

textarea.form-control{
  height: 48.5px;
  resize: none;
  @media screen and (min-width:992px) {
    height: 56.4px;
  }
}

.col-sm-12.text-form {
  padding: 0;
}

.col-sm-10.forgot, .col-sm-2.forgot {
  padding: 0;
}



.forgot-password {
  color: #3c1fa8;
  font-size: 20px;
  padding-top: 11px;
  &:hover {
      color: #3c1fa8;
      text-decoration: none;
  }
   @media screen and (max-width: $break-large) {
          font-size: 14px;
	  padding-top: 12px;
   }
}

.forgot_div.row-eq-height > .col-sm-10.forgot > .form-group.password > .col-sm-12.text-form > .form-control.password {
  border-bottom: none !important;
  margin-bottom: 0px !important;
}

.forgot_div.row-eq-height > .col-sm-10.forgot > .form-group.password {
  margin-bottom: 0px !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  border-bottom: 1px solid #979797 !important;
}

.change-password {
   color: #3c1fa8;
  font-weight: bold;
}

#new_user + .button_to .btn-primary{
  border: solid 1px #3c1fa8;
  background-color: #fff;
  color: #3c1fa8;
}


@media only screen and (min-width: 1500px) {
  .welcome {
    font-size: 20px;
  }

  .forgot-password {
    font-size: 20px;
  }
}

.modal-body .form-control{
  font-size: 18px!important;
  @media only screen and (max-width: 991px)
  {
    font-size: 16px!important;
  }
}
