.table-responsive {
    border: 0;
}

.table-holder {
    margin-bottom: 15px;
}

.table-striped {

    > tbody {
        
        > tr {
            
            &:nth-of-type(even) {
                background: transparent;
            }

            &:nth-of-type(odd) {
                background: #eee;
            }
        }
    }
}

.table {
    display: table;
    margin-bottom: 0;
    font-size: em(15);
    border: 0 !important;

    a {
        color: $default-text-color;
    }

    > thead,
    > tbody,
    > tfoot {

        > tr {
            background: transparent !important;

            > th,
            > td {
                padding: 10px 18px;
                border: 0;
                line-height: 1.5;

                &:nth-child(2) {
                    padding-left: 10px;
                }

                &:first-child {
                    padding-left: 50px;
                }

                &:last-child {
                    padding-right: 50px;
                }
            }
        }
    }

    > thead {

        > tr {
            border-bottom: 2px solid $light-secondary;

            > th {
                width: auto !important;
            }
        }
    }

    > tbody {
        border: 0;

        > tr {
            border-bottom: 1px solid $light-secondary !important;

            > th,
            > td {
                color: $grey-secondary;
                border: 0;
                line-height: 1.5;
                vertical-align: baseline;
                text-align: left;
            }

            > td {
                vertical-align: middle;
                text-align: left;
            }
        }

        .dashb {
            margin: 10px 0;
        }
    }
}

.table-ledgers {

    > thead,
    > tbody,
    > tfoot {

        > tr {
            background: transparent !important;

            > th,
            > td {
                padding: 15px 40px;
            }
        }
    }
}

.dashboard-tradeline-table{ 
    display: table;

    > thead {
        position: relative;
        box-shadow: 0 2px 0 0px #d4d4d4;

        > tr {

            > th {

                &:first-child {
                    padding-left: 40px;
                }

                &:last-child {
                    padding-right: 0;
                }

                &:after {
                    opacity: 0 !important;
                }
            }
        }
    }

    > tbody {

        > tr {
            position: relative;
            box-shadow: 0 1px 0 0px #d4d4d4;

            > th,
            > td {

                &:first-child {
                    padding-left: 40px;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.purchase-table {
    margin-bottom: 35px;

    > thead,
    > tbody,
    > tfoot {

        > tr {

            > th,
            > td {

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.fund-wallet-table {

    > thead,
    > tbody,
    > tfoot {

        > tr {

            > th,
            > td {
                padding: 25px 0;
            }
        }
    }
}

#tradelineDataTable_wrapper {
    display: flex;
    flex-flow:  column nowrap;
    align-items: flex-start;

    .row {
        width: 100%;

        &:first-child {
            flex-direction: row-reverse;

            & > div {
                display: flex;
                align-items: flex-end;
                width: 100%;
            }
        }

        &:nth-child(2) {
            margin: 0;

            & > div {
                padding: 0;
            }
        }
    }
}

#applications-table {

    > thead {

        > tr {

            > td,
            > th {

                &:first-child {
                    padding-left: 50px;
                }

                &:last-child {
                    text-align: right;
                    padding-right: 50px;
                }
            }
        }
    }

    > tbody {

        > tr {

            > th,
            > td {
                padding: 18px 18px;

                &:first-child {
                    padding-left: 50px;
                }

                &:last-child {
                    text-align: right;
                    padding-right: 50px;
                    
                    a {

                        &:not(:last-child) {
                            margin-right: 15px;
                            padding-right: 15px;
                            border-right: 1px solid #888;
                        }
                    }
                }
            }
        }
    }
}

.dataTables_filter {
    width: 100%;

    .form-control {
        width: 100%;
    }
}

#tradelineDataTable{
    display: table !important;
    width: 100% !important;
}

