.panel-default > .panel-heading.col-md-12{
  display: flex;
  float: none;
  justify-content: space-between;
@media screen and (min-width:992px) {
  padding: 30px 30px 24px;
}
}

.panel-default > .panel-heading.col-md-12 .text-left.col-md-6, 
.panel-default > .panel-heading.col-md-12 .text-right.col-md-6,
.panel-default > .panel-heading.col-md-12 .text-right.col-sm-6{
  padding: 0;
  width: auto;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.panel-default > .panel-heading.col-md-12 .panel-title{
  height: auto;
  @media screen and (max-width:991px) {
    font-size: 16px;
    height: auto;    
}
}

.panel.panel-default .panel-body.tradeline-panel
{

  @media screen and (min-width:992px) and (max-width: 1199px) {
  overflow-x: scroll;
  }
  @media screen and (max-width: 767px) {
  overflow-x: scroll;
}
}

.new-trade-line.add-trade-line-and-user{
  text-transform: uppercase;
}