//Main theme colors
$theme-color:  #3ebdc7;
$brand-color: #23a1aa;
$primary-color-light: $theme-color;
$primary-color-dark: $brand-color;
$grey-primary: #3c3c3c;
$grey-secondary: #4e4e4e;
$light-primary: #a4a4a4;
$light-secondary: #d4d4d4;
$light-tertiary: #f0f0f0;

$btn-primary-bg: $theme-color;

$bg-colors: (
    grey-light: #f0f0f0,
    grey-dark: #f3f3f3
);

$ui-colors: (
    primary-color-dark: $primary-color-dark,
    primary-color-light: $primary-color-light
);

$icons-arr: (
    home: home,
    user: user,
    locker: locker,
    hands: hands,
    cash: cash,
    checked: checked,
    wallet: wallet,
    upload: upload
);

//Fonts colors
$default-text-color: $grey-primary;
$brand-text-color: $grey-secondary;

//Buttons variants
@each $color, $value in $ui-colors {

    .btn-#{$color} {
        @include button-variant($value, $value, $value);
    }
}

//Buttons variants
@each $color, $value in $bg-colors {

    .bg-#{$color} {
        background: $value;
    }
}

//Classes of widths
@for $i from 1 through 100 {

    .w-#{$i} {
        width: $i * 1%;
    }
}

//Classes of widths
@for $i from 1 through 100 {
    
    .m-t-#{$i} {
        margin-top: $i * 1px;
    }

    .m-r-#{$i} {
        margin-right: $i * 1px;
    }

    .m-b-#{$i} {
        margin-bottom: $i * 1px;
    }

    .m-l-#{$i} {
        margin-left: $i * 1px;
    }
}

.input-labeled {
    
    .text-form {
        position: relative;

        @include pseudo-el(after, 24px, 24px) {
            top: 43%;
            right: 10px;
            transform: translateY(-50%);
            background: url('calendar-icon.png') no-repeat;
        }
    }
}

.icon {

    @each $name, $value in $icons-arr {

        &.icon-#{$name} {

            & > a {
                position: relative;
                
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    transform: translateY(-50%);
                    display: block;
                    content: '';
                    background: url('icon-' + $name + '.png');
                }
            }
        }
    }

    &.icon-home {

        & > a {

            &:before {
                width: 24px;
                height: 21px;
            }
        }
    }

    &.icon-user {

        & > a {

            &:before {
                width: 19px;
                height: 18px;
            }
        }
    }

    &.icon-locker {

        & > a {

            &:before {
                width: 18px;
                height: 23px;
            }
        }
    }

    &.icon-hands {

        & > a {

            &:before {
                width: 27px;
                height: 18px;
            }
        }
    }

    &.icon-cash {

        & > a {

            &:before {
                width: 26px;
                height: 23px;
            }
        }
    }

    &.icon-checked {

        & > a {

            &:before {
                width: 18px;
                height: 18px;
            }
        }
    }
    
    &.icon-wallet {
        width: 37px;
        height: 28px;
        display: block;
        background: url('icon-wallet.png');
    }

    &.icon-filter {
        width: 22px;
        height: 23px;
        display: block;
        margin-left: 5px;
        background: url('icon-filter.png');
    }

    &.icon-upload {
        width: 34px;
        height: 26px;
        display: block;
        background: url('icon-upload@2x.png') center / cover no-repeat;
    }
}
