.nav-tabs.users-list > li > a {
  border-radius: 0px !important;
  border: none;
  border-bottom: 1px solid rgba(151,151,151,0.30);
  margin-right: 0px !important;
  padding: 25px 25px 25px 0;
  @media screen and (max-width:991px){
    padding: 10px 10px 10px 0;
  }
}

.for_ssn, .for_dl, .for_special_add {
  display: none;
  color: grey;
  float: right;
  margin-top: -30px;
}

table#tradelineDataTable thead tr th {
  vertical-align: middle;
}

.simple_form.new_purchase .select2-selection.select2-selection--single {
  border-bottom: none!important;
}

.purchase_conf_col.no-pad-left {
  padding-left: 0px;
}

#infinite-scrolling div.pagination ul.pagination {
  display: none;
}

.dropzone .dz-preview.dz-error .dz-error-mark, .dropzone .dz-preview.dz-error .dz-error-message {
  display: none;
}

.nav-tabs.users-list > li > a:hover{
  background-color: transparent;
}

.nav-tabs.users-list > li:hover{
  background-color: rgba(242,242,242, 0.70);
}

.nav-tabs.users-list > li.active > a, .nav-tabs.users-list > li.active > a:hover, .nav-tabs.users-list > li.active > a:focus {
}

.user-info .user-modal-image-close {
  position: absolute;
  top: 35px;
  right: 25px;
  z-index: 10;
}
.user-info .image-div + .user-modal-image-close{
  color: #e3e3e3!important;
  top: 10px;
  right: 10px;
}
.modal-open .modal.fade.in .modal-dialog.user-info .modal-content .modal-header .close.user-modal-image-close span{
  font-size: 20px;
}
.nav.nav-tabs.nav-justified li a:hover {
  background-color: white;
}

.nav.nav-tabs.nav-justified li a.active-tab:hover {
  background-color: #eeeeee;
}

p.dashb.all-users-wallet-balance {
  color: #202020;
  font-weight: bold;
}

.panel-body#panel-body.all-users {
  padding-bottom: 0px !important;
}

.panel.panel-default.recent-transactions-user .panel-body#panel-body{
  height: 410px;
}

.panel-body#panel-body.user-profile-panel {
  max-height: 146px;
  padding: 0px;
}

tr.dashb-small-trow-users {
  height: 5em;
}

.col-sm-8.no-pad-left.user-details {
  padding-top:35px;
}

.bold-font {
  font-family: CircularStd;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.wallet-balance-box {
  height: 62px;
  width:95px;
  border-radius: 4px;
  background-color: #3c1fa8;
  text-align: center;
}

.w-balance-all-users {
  color: white;
  font-size: 18px;
  text-align: center;
}

td.align-middle.vertical-option-icon {
  padding-left: 10px;
  font-size: 20px;
  color: #3c1fa8;
  cursor: pointer;
}

.modal-dialog.user-info {
  width: 385px;
  position: static;
  left: 50%;
  top: 50%;
  margin-left: -192.5px;
  margin-top: -160px;
}

.modal-header.user-info {
  margin: 0px;
  /* Changed the height here for the image-Anirudh*/
  height: auto;
  padding: 0px;
}

/* Added this for the modal image-Anirudh*/
.image-div {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
}

.mail-details p, .mail-details b {
  display: inline;
}

ul.navbar-nav.nav li a {
  color: grey;
  font-size: 14px;
  font-family: 'CircularStd-Book';
  padding: 15px 10px;
}

ul.navbar-nav.nav li.activated a {
  font-family: 'CircularStd';
}

ul.navbar-nav.nav li a:hover, ul.navbar-nav.nav li a:focus {
  color: grey;
  text-decoration: none;
}

.banking-information-modal-body {
  padding-left: 0px;
  padding-right: 0px;
}

.note-label, .note-msg {
  display: inline-block;
  float: left;
}

.note-label {
  font-family: CircularStd;
}

#index_banking_information_modal .modal-dialog {
  max-width: 800px;
}
#index_banking_information_modal .modal-dialog .table > thead > tr > th{
padding: 26px 20px;
}
#index_banking_information_modal .modal-dialog .table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #f9f9f9;
}
#index_banking_information_modal .modal-dialog .table-striped > tbody > tr:nth-of-type(2n){
  background-color: #fff;
}
#index_banking_information_modal .modal-dialog .table > tbody > tr > td {
    padding: 15px 20px;
    font-size: 16px;
}

.glyphicon-th-large {
  color: #3C1FA8;
  line-height: 1;
  font-size: 18px;
}

.navbar-icon-wrraper {
    border-radius: 0;
    line-height: normal;
}

@media screen and (min-width: 768px){
.page-main-heading-wrapper{
  display: flex;
align-items: center;
flex: 1;
}
 .page-main-heading-wrapper .navbar-collapse{
padding-left: 25px;

}
}
 @media screen and (max-width: 767px){
  .page-main-heading-wrapper{
      flex: 1;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 0;
  }
.navbar.navbar-default.navbar-fixed-top > .container{
  position: relative;
}
.navbar-collapse.collapse.in,  .navbar-collapse.collapsing{
  position: absolute;
left: 0px;
right: 0px;
background-color: rgb(255, 255, 255);
top: 50px;
border-bottom: 1px solid #e7e7e7;
}
#navbarSupportedContent.navbar-collapse ul.navbar-nav{
  padding: 0 20px
}
}

#user_month, #user_day, #user_year {
  text-align: center;
}
