.modal.fade#new_trade_line_modal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.title-sub-brand Add New Tradeline
        %button.close{'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span{'aria-hidden': 'true'} Close

      #modal-body
        = render 'form'
