.modal.fade#index_banking_information_modal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#fund-wallet-modal-label.title-sub-brand Banking Information
        %button.close{'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span{'aria-hidden': 'true'} Close
        %div.success-message.text-success   
      .modal-body.banking-information-modal-body
        %table.table.table-striped
          %thead
            %tr
              %th Acc. Number
              %th Routing Info
              %th Bank Name
              %th Account Name
          %tbody#trade_lines
            - @banking_infos.each do |info|
              %tr
                %td= info.account_number
                %td= info.routing_info
                %td= info.bank_name
                %td= info.account_name
