.modal.fade#banking_info_modal{ 'role'=>'dialog', 'tabindex'=>'-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss: 'modal' } }
          %span &times;
        %h4.modal-header-title 
          %b.title
            Banking Information
        %span.sub-title 
      #modal-body
        = render 'form'
